@use '@/styles/base/variables';

.signup-page {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  align-items: center;
  flex: 1;
  padding: 7rem 2rem;

  &__server-error {
    font-family: variables.$font-family-base;
    font-size: variables.$font-size-base;
    font-weight: variables.$font-weight-regular;
    color: variables.$color-warning;
  }

  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 350px;
    gap: 12px;

    &-button {
      margin-top: 1rem;
      width: 100%;
    }
  }
}
