$color-warning: #f72a2a;
$color-success: #329f42;
$color-primary: #fc5723;
$color-primary-light: #fc8b23;
$color-primary-10: #fc57231a;
$color-secondary: #166e7a;
$color-secondary-light: #22b5d3;
$color-disabled: #c6c6c6;
$color-basic: #ffffff;
$color-basic-dark: #02151c;
$bg-color: #f5f5f5;
$bg-color-overlay: rgba(117, 110, 108, 0.5);
$bg-color-warning: #feeae4;

$input-color: #b5a9a5;
$input-disabled-color: #f5f5f5;
$border-color: #dedad8;
$input-placeholder-color: #dedad8;
$border-radius: 4px;

$font-color-primary: #02151c;
$font-color-secondary: #756e6c;
$font-size-sm: 14px;
$font-size-base: 16px;
$font-size-md: 24px;
$font-size-lg: 36px;
$font-family-base: 'Roboto', sans-serif;
$font-weight-regular: 400;
$font-weight-medium: 600;
$font-weight-bold: 700;
$font-style-normal: normal;
$font-style-italic: italic;

$spacing-xs: 5px;
$spacing-sm: 10px;
$spacing-md: 15px;

$btn-width: 113px;
$btn-height: 40px;
$btn-padding: 8px 32px;

$method-color-green: #329f42;
$method-color-orange: #f79b2a;
$method-color-blue: #248add;
$method-color-purple: #8048d4;
$method-color-purple: #ea4ae5;
$method-color-red: #f72a2a;
$method-color-brawn: #ad7a03;

$shadow: 0 3px 10px rgba(220, 220, 220, 0.35);
